
module modprobe_module_load 1.0;

require {
	type modules_object_t;
	type insmod_t;
	class system module_load;
}

#============= insmod_t ==============
allow insmod_t modules_object_t:system module_load;
