
module systemd_devlog 1.0;

require {
	type init_t;
	type devlog_t;
	class sock_file create;
}

#============= init_t ==============
allow init_t devlog_t:sock_file create;
