
policy_module(systemd-modules_unix_dgram_socket, 1.0)

require {
	type syslogd_t;
	type systemd_modules_load_t;
	class unix_dgram_socket sendto;
}

#============= systemd_modules_load_t ==============
allow systemd_modules_load_t syslogd_t:unix_dgram_socket sendto;
dev_write_kmsg(systemd_modules_load_t)
